<head>

  <!-- Angular Material CSS now available via Google CDN; version 0.8 used here -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  
  <style type="text/css">
md-card > md-toolbar {
  min-height: 32px;
  font-size: 1em;
  padding: 8px;
}  

.metal .track-tile {
  background-color: #e0e0e0; }
.wealth .track-tile {
  background-color: #ffff8d; }
.military .track-tile {
  background-color: #84ffff; }

.track-tile {
  height: 30px;
  width: 30px;
}

.over-value {
  height: 30px;
  width: 30px;
  background-color: white;  
}

.card {
  width: 150px;
  height: 100px;
}

.tech md-card-content {
  height: 8rem;
}

.owned md-card-content {
  background-color: #ffff8d;
}

.tech h3, .tech p {
  line-height: 1;
  font-size: 10pt;
}
  </style>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

  <script src="/js/app.js"></script>
  
</head>
<body ng-app="mseApp" ng-controller="mseCtrl">

  <div layout="column">
    
    <md-content layout="row" flex="80">
      <div layout="column" flex="5"></div>
  
      <div layout="column" flex="45">
        
        <md-toolbar class="md-primary md-toolbar-tools">Resources</md-toolbar>

        <div layout="column">
          
          <div flex="25" layout="column" layout-align="center">
            <ng-include 
              src="'templates/track.ng'"
              ng-repeat="t in [metalTrack, wealthTrack, militaryTrack] track by $index"/>
          </div>
          
  
          <div flex>
              <md-toolbar class="md-primary md-toolbar-tools">Technologies</md-toolbar>
              <table style="width: 100%">
                <col width="50%"/>
                <col width="50%"/>
                <tr ng-repeat="idx in [0, 1, 2, 3]">
                  <td style="width: 50%" ng-repeat="tech in [board.Gen1Techs[idx], board.Gen2Techs[idx]] track by $index">
                    <ng-include src="'templates/tech.ng'" />
                  </td>
                </tr>
              </table>
          </div>
        </div>  
      </div>
      
      <div layout="column" flex="5"></div>
      
      <div layout="column" flex="45">
        <div>
          <md-toolbar class="md-primary md-toolbar-tools">Empire</md-toolbar>
          
          <div layout="row" layout-wrap>
            <ng-include ng-repeat="card in board.Empire track by card.ID" src="'templates/card.ng'"/>
          </div>
        </div>
        
        <div>
          <md-toolbar class="md-primary md-toolbar-tools">Explored</md-toolbar>
          <div layout="row" layout-wrap>
            <ng-include ng-repeat="card in board.Explored track by card.ID" src="'templates/card.ng'"/>
          </div>
        </div>
        
        <div ng-if="board.ActiveEvent">
          <md-toolbar class="md-primary md-toolbar-tools">Event (Year: {{board.Year}}; Cards: {{board.EventsRemaining}})</md-toolbar>
          <md-subheader class="md-primary">{{board.ActiveEvent.Name}}</md-subheader>
          <md-content layout-padding>
            <div layout="column">
              <div layout="row">
                <div>Year 1:</div>
                <div>{{board.ActiveEvent.Year1Effect}}</div>
              </div>
              <div layout="row">
                <div>Year 2:</div>
                <div>{{board.ActiveEvent.Year2Effect}}</div>
              </div>
              <div ng-if="board.ActiveEvent.Modifier">
                <em>{{board.ActiveEvent.Modifier}}</em>
              </div>
            </div>
          </md-content>
        </div>
      </div>
      
    </div>

  </md-content>

  <md-content flex="20" layout-padding layout="row">
    <div flex="40">
      <md-subheader class="md-primary">Prompt</md-subheader>
      <md-content layout-padding>
        {{prompt.Message}}
      </md-content>
      <md-content ng-repeat="c in prompt.Choices" layout-padding>
        <a href="#" ng-click="makeChoice(c.Key)">{{c.Name}}</a>
      </md-content>
    </div>
    <div flex="40">
      <md-subheader class="md-primary">Status</md-subheader>
      <div ng-repeat="s in status.slice(-3)">
        {{s.Message}}
      </div>
    </div>
    <div flex layout="column">
      <div layout="row">
        <md-button ng-click="showBoard()" class="md-primary">
          Board
        </md-button>
        <md-button ng-click="showStatus()" class="md-primary">
          Status
        </md-button>
      </div>
      <div flex></div>
    </div>

  </md-content>

  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="board">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Board</h1>
    </md-toolbar>
    <md-content layout-padding>
      {{board}}
      <md-button ng-click="hideBoard()" class="md-primary">
        Hide
      </md-button>
    </md-content>
  </md-sidenav>
  
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="status">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Status</h1>
    </md-toolbar>
    <md-content layout-padding>
      <p ng-repeat="s in status">{{s.Message}}</p>
      <md-button ng-click="hideStatus()" class="md-primary">
        Hide
      </md-button>
    </md-content>
  </md-sidenav>
  
</body>