<head>

  <!-- Angular Material CSS now available via Google CDN; version 0.8 used here -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">

  <style type="text/css">
.metal .track-tile {
  background-color: #f5f5f5; }
.wealth .track-tile {
  background-color: #ffff8d; }
.military .track-tile {
  background-color: #84ffff; }
.current-value {
  color: white;
  background-color: black;
}

.card {
  width: 150px;
  height: 200px;
}

.tech md-card-content {
  height: 8rem;
}

.tech h3, .tech p {
  line-height: 1;
  font-size: 10pt;
}
</style>

  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

  <!-- Angular Material Javascript now available via Google CDN; version 0.8 used here -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

  <script src="/js/app.js"></script>
  
</head>
<body ng-app="mseApp" ng-controller="mseCtrl">

  <div layout="column">
    
    <md-content layout="row" flex="80">
      <div layout="column" flex="5"></div>
  
      <div layout="column" flex="45">
        <md-toolbar class="md-primary md-toolbar-tools">Resources</md-toolbar>

        <div >
          <ng-include 
            src="'templates/track.ng'"
            ng-repeat="t in [metalTrack, wealthTrack, militaryTrack] track by $index"/>
        </div>
        

        <div>
            <md-toolbar class="md-primary md-toolbar-tools">Technologies</md-toolbar>
            <table style="width: 100%">
              <col width="50%"/>
              <col width="50%"/>
              <tr ng-repeat="idx in [0, 1, 2, 3]">
                <td style="width: 50%" ng-repeat="tech in [board.Gen1Techs[idx], board.Gen2Techs[idx]] track by $index">
                  <ng-include src="'templates/tech.ng'" />
                </td>
              </tr>
            </table>
        </div>
  
      </div>
      
      <div layout="column" flex="5"></div>
      
      <div layout="column" flex="45">
        <div>
          <md-toolbar class="md-primary md-toolbar-tools">Empire</md-toolbar>
          
          <md-grid-list md-cols="3" md-row-height="1:1">
            <ng-include ng-repeat="card in board.Empire track by card.ID" src="'templates/card.ng'"/>
          </md-grid-list >
        </div>
        
        <div>
          <md-toolbar class="md-primary md-toolbar-tools">Explored</md-toolbar>
          <md-grid-list md-cols="3" md-row-height="1:1">
            <ng-include ng-repeat="card in board.Explored track by ID" src="'templates/card.ng'"/>
          </md-grid-list >
        </div>
        
        <div>
          <md-toolbar class="md-primary md-toolbar-tools">Event Info</md-toolbar>
        </div>
      </div>
      
    </div>

  </md-content>

  <md-content flex="20">
    <md-subheader>Prompt</md-subheader>
    <div>
      {{prompt.Message}}
    </div>
    <div ng-repeat="c in prompt.Choices">
      <a href="#" ng-click="makeChoice(c.Key)">{{c.Name}}</a>
    </div>
    <md-subheader>Status</md-subheader>
    <div ng-repeat="s in status">
      {{s.Message}}
    </div>
    <md-subheader>Board</md-subheader>
    <div>
      {{board}}
    </div>
  </md-content>

</body>